.wrapper {
    margin: 20px;
    display: grid;
    align-items: center;
}

.searchWrapper {
    margin: 20px;
    max-width: 500px;
}

/* before typing */
.tagPoolWrapper {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
    border-top: 1px solid #dadada;
}

.tagItems {
    display: grid;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tagItem {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tagItem:hover > .tagItemName {
    color: #0096fa;
}

.tagItemName {
    font-size: medium;
}

.tagItemCount {
    font-size: small;
    color: #646464;
}

/* loading */
.CircularProgressContainer {
    justify-self: center;
    margin-top: 200px;
}


/* after typing */
.contentWrapper {
    display: grid;
    border-top: 1px solid #dadada;
    margin-top: 15px;
    margin-bottom: 50px;
}

.tags {
    max-width: 800px;
    margin-top: 8px;
}

.individualTag {
    display: inline-block;
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}
.individualTag:hover {
    color: black;
    background-color: #0096fa;
}

@media (min-width: 800px) {
    .wrapper {
      width: 800px;
      margin: 0 auto;  
    }
}