.wrapper {
  width: 500px;
  height: 500px;
  background-color: lightpink;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.postSource {
  width: 100px;
  height: 100px;
}

/* loading */
.CircularProgressContainer {
  text-align: center;
  margin-top: 50px;
  display: block;
}
