.wrapper {
  margin: 20px;
  display: grid;
  grid-template-rows: 50px auto;
  border-radius: 15px;
  background-color: white;
}

.title {
  justify-self: center;
  margin-top: 10px;
}

.postArea {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto 50px;
  /* border: 1px solid black; */
  padding: 10px;
  border-top: 1px solid #DADADA;
}

.preview {
  width: 120px;
  height: 120px;
  object-fit: contain;
  grid-column: 1/2;
  grid-row: 1/2;
}

.choosePic {
  width: 0px;
  height: 0px;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 0px;
  /* margin: 0 auto; */
}

.content {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  border: none;
}

.contentCount {
  justify-self: end;
}


.tagWrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 30px 1fr 0.3fr;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  margin-top: 5px;
  padding: 10px;
}

.tagTitle {
  grid-row: 1/2;
}

.tagList {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border-top: 1px solid #DADADA; */
  display: inline-flex;
  /* width: 400px; */
}

.typeTags {
  grid-column: 1/3;
  grid-row: 3/4;
}

.count {
  grid-column: 2/3;
}

.tagListItem {
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  
  border-radius: 5px;
  background-color:#F0F0F0;
  padding: 8px;
  list-style-type: none;
}

.tagListItem:hover {
  text-decoration: line-through;
}

.greenBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 47px;
  width: 123px;
  border-radius: 5px;
  background: #54B970;
  color: white;
  font-size: medium;
  border: none;
  justify-self: end;
}

.greenChoose {
  height: 40px;
  width: 123px;
  /* justify-self: end; */
  border-radius: 5px;
  background: #54B970;
  color: white;
  font-size: medium;
  border: none;
  /* justify-self: center; */
  grid-column: 1/2;
  grid-row: 2/3;
}

.formWrapper {
  display: grid;
}

@media (min-width: 500px) {
  .wrapper {
    width: 500px;
    margin: 0 auto;
  }

  .window {
    background-color: #DADADA;
    height: 100vh;
    width: 100vw;
  }
}