.logo {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: auto;
  align-items: center;
  width: 250px;
  height: auto;
}
.userRec {
  margin-top: 10px;
  /* text-align: center; */
}
.userRecText {
  text-align: center;
  position: relative;
  left: -165px;
  transition: 1s;
}

.content {
  margin-top: 20px;
  margin-bottom: 100px;
  /* margin: '0 auto'; */
}
.itemBox {
  /* background-color: lightblue; */
  /* height: 320px; */
  /* width: 180px; */
  display: block;
  border-radius: 8px;
  box-shadow: 0px 0px 3px black;
  z-index: 5;
}
.itemBox img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  cursor: pointer;
}
/* like unlike icon */
.likeIcon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  opacity: 0%;
}
.itemBox:hover .likeIcon {
  opacity: 100%;
}


@media (min-width: 800px) {
  .userRecText {
    left: -315px;
  }
}