.logo {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: auto;
  align-items: center;
  width: 250px;
  height: auto;
}
.userRec {
  margin-top: 10px;
  /* text-align: center; */
}
.userRecText {
  text-align: center;
  position: relative;
  left: -165px;
  transition: 1s;
}

.content {
  margin-top: 20px;
  margin-bottom: 100px;
  /* margin: '0 auto'; */
}
.itemBox {
  /* background-color: lightblue; */
  /* height: 320px; */
  /* width: 180px; */
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;
}
.itemBox img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

@media (min-width: 800px) {
  .userRecText {
    left: -315px;
  }
}